body {
    padding: 0;
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    width: 1200px;
    margin: 0 auto;
}

.site-navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    min-height: 55px;
    padding: 0;
    list-style-type: none;
}

.site-navigation li:nth-child(2) {
    padding-right: 120px;
}

.site-navigation li:nth-child(3) {
    padding-left: 120px;
}

.site-navigation .site-navigation-current {
    color: #766357;
}

.site-navigation a {
    color: #000000;
    text-decoration: none;
}

.site-navigation a:hover {
    color: #a3c7de;
}

.site-navigation a:active {
    color: #b2b2b2;
}
.main-header-logo {
    position: relative;
    top: -55px;
    z-index: 1;
    left: 45%;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 -5px 15px 0;
}

.poster {
    background-image: url(../img/background-welcome.jpg);
    position: relative;
    top: -77px;
    background-size: cover;
    background-position: 50% 21%;
    min-height: 510px;
}

.poster::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    background-color: transparent;
    background-image: url(../img/intro-mask.svg);
}

.banner {
    position: absolute;
    left: 31.5%;
    top: 15%;
}

.features {
    background-color: #ffffff;
    padding-bottom: 20px;
    min-height: 95px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.intro-title {
    width: 450px;
    font-size: 21px;
    margin: auto;
}

.features p {
    text-align: center;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    margin-top: 27px;
}

.info-list {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 65px;
    color: #ffffff;
    background-color: #81b3d2;
    font-weight: normal;
    min-height: 146px;
    width: 400px;
}

.info-list-title {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 53px;
    color: #ffffff;
    background-color: #81b3d2;
    font-weight: normal;
    width: 400px;
}

.info-list-title p {
    width: 303px;
    height: ;
    margin: auto;
}

.number {
    padding-bottom: 20px;
}

.column {
    display: flex;
    height: 256px;
    align-items: center;
}

.column-list {
    display: flex;
    flex-direction: row-reverse;
    height: 256px;
    align-items: center;
}

.column-list-service {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 47px;
    padding-left: 0;
    margin: 0;
}

.column-list-convenience {
    display: flex;
    align-items: center;
    padding: 50px 0 60px 0;
    min-height: 146px;
    margin: 0 auto;
    background-color: #eeeeee;
}

.catalog-item-service {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    list-style-type: none;
    margin: 0 auto;
    width: 300px;
}

.catalog-item-convenience {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    list-style-type: none;
    margin: 0 auto;
    width: 265px;
}

.offer {
    text-align: center;
    font-weight: normal;
    padding-bottom: 34px;
    padding-top: 31px;
}

.search-hotel {
    background-color: #766357;
    text-align: center;
    width: 568px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 34px;
}

.search-hotel:hover {
    background-color: #604e43;
}

.search-hotel:active {
    background-color: #503e33;
}

.search-hotel a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 21px;
    line-height: 26px;
}

.search-hotel a:active {
    color: #857871;
}

.search-date {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    line-height: 26px;
    margin: 0 auto;
    padding-bottom: 29px;
    padding-left: 55px;
}

.search-date-adult {
    position: relative;
    top: -13px;
}

.search-date-child {
    position: relative;
    top: -97px;
    left: 260px;
}

.date {
    padding-left: 13px;
    margin-left: 21px;
    background-color: #f2f2f2;
    border-style: none;
    width: 330px;
    height: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

.date::placeholder {
    color: #000000;
}

.date:hover {
    background-color: #ebebeb;
}

.date:focus {
    background-color: #ffffff;
}

.date-out {
    padding-left: 13px;
    margin-left: 18px;
    background-color: #f2f2f2;
    color: #000000;
    border-style: none;
    width: 330px;
    height: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

.date-out::placeholder {
    color: #000000;
}

.date-out:hover {
    background-color: #ebebeb;
}

.date-out:focus {
    background-color: #ffffff;
}

.calendar {
    border-style: none;
    background-color: transparent;
    position: relative;
    fill: #cacaca;
    left: -44px;
    top: 3px;
}

.calendar:hover {
    fill: #000000;
}

.calendar:active {
    fill: #81b3d2;
}

.person {
    border-style: none;
    position: relative;
    width: 38px;
    height: 39px;
    left: 36px;
    text-align: center;
    background-color: #f2f2f2;
    font-weight: bold;
}

.person:hover {
    background-color: #ebebeb;
}

.minus {
    background-color: #f2f2f2;
    border-style: none;
    width: 38px;
    height: 41px;
    position: relative;
    left: 40px;
    bottom: -14px;
}

.icon-minus {
    background-color: #a9a9a9;
    height: 3px;
    width: 12px;
    position: relative;
    left: 5px;
}

.icon-minus:hover {
    background-color: #000000;
}

.icon-minus:active {
    background-color: #81b3d2;
}

.plus {
    background-color: #f2f2f2;
    margin-left: 35px;
    border-style: none;
    width: 38px;
    height: 41px;
    position: relative;
    right: 3px;
    bottom: -14px;
}

.icon-plus {
    background-color: #a9a9a9;
    height: 3px;
    width: 12px;
    position: relative;
    left: 5px;
}

.icon-plus:after {
    content: "";
    height: 12px;
    width: 3px;
    background-color: #a9a9a9;
    position: absolute;
    top: -4px;
    right: 4px;
}

.icon-plus:hover {
    background-color: #000000;
}

.icon-plus:hover:after {
    background-color: #000000;
}

.icon-plus:active {
    background-color: #81b3d2;
}

.icon-plus:active:after {
    background-color: #81b3d2;
}

.search-form {
    position: absolute;
    background-color: #ffffff;
    width: 568px;
    height: 351px;
    margin-left: 315px;
    text-align: center;
    padding-top: 55px;
}
.search-button {
    position: relative;
    top: -71px;
}

.search-button .button {
    background-color: #81b3d2;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    width: 458px;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 17px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.search-button .button:hover {
    background-color: #669ec0;
}

.search-button .button:active {
    color: #88b6d1;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 139px;
    padding-right: 76px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.hashtag {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.hashtag a {
    text-decoration: none;
    color: #000000;
}

.footer-social {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    margin: 3px;
    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    fill: #88b6d1;
}

.footer-web {
    display: inline-flex;
    align-items: center;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.button-copyright {
    margin-left: 10px;
    margin-top: 10px;
}

.button-copyright:hover path {
    fill: #81b3d2;
    
}

.button-copyright:active path {
    fill: #d1d0d1;
}

/*inner*/

.inner-page {
    width: 100%;
    max-width: 100%;
}

.filters {
    position: relative;
    top: -77px;
}

.filters-form {
    display: flex;
    background-attachment: fixed;
    justify-content: space-around;
    background-image: url(../img/background-filter.jpg);
    background-size: cover;
    width: 1200px;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 30px;
    background-repeat: no-repeat;
}

.structure-list {
    position: relative;
    right: 20px;
}

.type-hotel-list {
    position: relative;
    right: 100px;
}

.filters-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.price-list .filters-title {
    margin-left: 23px;
}

.filters-list {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    list-style-type: none;
}

.filters-list label:hover {
    color: #81b3d2;
}

.filters-list label:active {
    color: #cccccc;
}

.filters-list li {
    margin: 35px 0;
}

.form-checkbox:checked + .form-label::before {
    content: url(../img/checkbox-on.svg);
    position: absolute;
    left: 0;
}

.form-checkbox + .form-label::before {
    content: url(../img/checkbox-off.svg);
    position: absolute;
    left: 0;
}
.form-checkbox:disabled + .form-label {
    color: #6a6a6a;
}

input[type="checkbox"] {
    display: none;
}

.price-select {
    position: relative;
    left: 22px;
    color: #ffffff;
    margin-bottom: 32px;
    min-height: 32px;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-select::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
}

.price-select label {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    line-height: 38px;
    padding-left: 55px;
}

.price {
    background-color: transparent;
    color: #ffffff;
    text-align: left;
    margin-left: 10px;
    background: none;
    border: none;
    width: 90px;
}

.show-button a {
    text-decoration: none;
    color: #000000;
}

.show-button .button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.show-button .button:hover {
    color: #000000;
    background: #ffffff;
}

.range-controls {
    position: relative;
    left: 20px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .line {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.scale-button {
    position: relative;
    top: -10px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.scale-button:hover {
    background: #1c4f80;
}

.scale-left {
    left: 0;
}

.scale-right {
    left: 240px;
    top: -30px;
}

.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.catalog {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
    margin-top: -50px;
}

.found-title {
    display: inline-flex;
}

.catalog-title {
    padding-left: 76px;
    margin-top: 10px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.sort-title {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 50px;
}

.sort-list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    width: 727px;
}

.sort-list li {
    margin-right: 32px;
}

.sort {
    border-bottom: 1px #81b3d2 dotted; 
}

.sort-list .sort-current {
    color: #81b3d2;
}

.sort-list .sort:active {
    color: #000000;
    border-style: none;
}

.sort-list .sort:hover {
    color: #81b3d2;
}

.sort-list a {
    color: #b1b1b1;
    text-decoration: none;
    background-color: transparent;
}

.up {
    margin-right: 17px;
}
.up path {
    fill: #cacaca;
    background-color: transparent;
}

.down path {
    fill: #81b3d2;
}

.up path:hover,
.down path:hover {
    fill: #000000;
}

.up path:active,
.down path:active {
    fill: #81b3d2;
}

.hotel-item {
    display: flex;
    text-align: left;
    padding-left: 76px;
    padding-top: 30px;
    background-color: #ffffff;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-item .hotel-name:hover {
    color: #81b3d2;
}

.hotel-item .hotel-name:active {
    color: #c7c7c7;
}

.hotel-information h3 {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.hotel-information {
    padding-left: 30px;
}

.hotels {
    display: flex;
    flex-direction: column;
}

.hotels a {
    color: #000000;
    text-decoration: none;
}

.hotels p {
    font-weight: normal;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 8px;
}

.more-information {
    display: inline-flex;
}

.button-more {
    display: inline-flex;
    justify-content: center;
    background-color: #81b3d2;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    width: 110px;
    min-height: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 6px;
}

.more-information .button-more:hover {
    background-color: #689fc1;
}

.more-information .button-more:active {
    background-color: #6ea6c7;
    color: #94b9d2;
}

.price-info .button-reserve {
    color: #ffffff;
}

.category-info .button-more {
    color: #ffffff;
}

.button-reserve {
    display: inline-flex;
    justify-content: center;
    background-color: #766357;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    width: 142px;
    min-height: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.price-info .button-reserve:hover {
    background-color: #604e43;
}

.price-info .button-reserve:active {
    background-color: #503e33;
    color: #877d78;
}

.rating-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 595px;
    margin-top: 35px;
}

.rating {
    position: relative;
    left: 30px;
    background-color: #f2f2f2;
    width: 110px;
    height: 27px;
    padding-top: 5px;
    text-align: center;
    font-weight: normal;
}

.rating-star {
    display: flex;
    justify-content: flex-end;
}

.star {
    margin-left: 7px;
    position: relative;
    bottom: 60px;
    left: 140px;
}
